<!DOCTYPE html>
<html>
<head>
  <title>SsbeApi</title>
  <%= stylesheet_link_tag    "ssbe_api/application", :media => "all" %>
  <%= javascript_include_tag "ssbe_api/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
