#header 
  .swagger-ui-wrap
    %a#logo{:href => FQDN } SSBE Documentation

#messsage-bar.swagger-ui-wrap

#swagger-ui-container.swagger-ui-wrap
  #resources-container.container
    %ul#resources
      - group_routes_by_controller.each do |controller, actions|
        %li.resource
          .heading
            %h2 
              %a= "/#{controller}"
